.info__user {
	border-top: 7rem solid #000000;
	.avt {
		margin-top: -7rem !important;
		span {
			background-color: #000000;
		}
	}
}

.more__user {
	right: 0px;
	top: 6.5rem;
}

.custom__dropdown__toggle {
	&:after {
		display: none;
	}
}
