$height-navbar: 70px;

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

body {
	padding-top: $height-navbar;
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.disabled {
	pointer-events: none;
	opacity: 0.65;
}

#nprogress .bar {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
	background-color: #555 !important;
	height: 8px !important;
}

#nprogress .peg {
	box-shadow: none !important;
}

.cursor-pointer {
	cursor: pointer;
}

.loading-animation {
	border-radius: 5px;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1) 10%,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(255, 255, 255, 0.1) 40%
	);
	box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.025);
	background-size: 800px 104px;
	position: relative;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.sticky-top {
	top: calc(#{$height-navbar} + 1.5rem) !important;
}

.wapper__card {
	overflow-wrap: anywhere;
}

/* 404 Page */

.notfound {
	margin-top: -$height-navbar;
}

.notfound .display-404 {
	font-size: 16rem;
	font-weight: 1000;
}

@media (max-width: 576px) {
	.notfound .display-404 {
		font-size: 8rem;
		font-weight: 900;
	}
}
