body {
	background: #eef0f1;
	padding-top: 72px;
}

.mod-options {
	padding: 5px 5px 5px 5px;
	/* background: rgb(209 207 207); */
}

.mod-options i.fa-trash-o {
	cursor: pointer;
	color: red;
}

.mod-options i.fa-trash-o:hover {
	color: rgb(185, 3, 3);
}

.carousel-item img {
	max-height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.card-text {
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}
.sticky-top {
	top: 72px;
}
.badge {
	border: 1px solid rgba(230, 230, 230, 1);
	font-weight: 400;
}

.bg-custom {
	background-color: rgba(0, 0, 0, 0.9);
}

.user-post .user {
	line-height: 1.3;
}

.user-post .time {
	line-height: 1.3;
}

.bottomright {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
}

.card {
	border: none;
	box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.list-group-item-custom {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nav-tabs .nav-link.active {
	background-color: #f8f9fa !important;
}

.nav-tabs-custom {
	border-bottom: 0;
}

/* 404 Page */

.notfound {
	margin-top: -72px;
	box-sizing: border-box;
	height: 100%;
	background-color: #000000;
	background-image: radial-gradient(#11581e, #041607), url('https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Inconsolata', Helvetica, sans-serif;
	font-size: 1.5rem;
	color: rgba(128, 255, 128, 0.8);
	text-shadow: 0 0 1ex rgba(51, 255, 51, 1), 0 0 2px rgba(255, 255, 255, 0.8);
}

.notfound .noise {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: 0.02;
}

.notfound .overlay {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
	background-size: auto 4px;
	z-index: 1;
}

.notfound .overlay::before {
	content: '';
	pointer-events: none;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		0deg,
		transparent 0%,
		rgba(32, 128, 32, 0.2) 2%,
		rgba(32, 128, 32, 0.8) 3%,
		rgba(32, 128, 32, 0.2) 3%,
		transparent 100%
	);
	background-repeat: no-repeat;
	animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
	0% {
		background-position: 0 -100vh;
	}
	35%,
	100% {
		background-position: 0 100vh;
	}
}

.notfound .terminal {
	box-sizing: inherit;
	position: absolute;
	height: 100%;
	width: 1000px;
	max-width: 100%;
	padding: 4rem;
	text-transform: uppercase;
}

.notfound .output {
	color: rgba(128, 255, 128, 0.8);
	text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
}

.notfound .output::before {
	content: '> ';
}

/*
  .input {
	color: rgba(192, 255, 192, 0.8);
	text-shadow:
		0 0 1px rgba(51, 255, 51, 0.4),
		0 0 2px rgba(255, 255, 255, 0.8);
  }
  
  .input::before {
	content: "$ ";
  }
  */

.notfound a {
	color: #fff;
	text-decoration: none;
}

.notfound a::before {
	content: '[';
}

.notfound a::after {
	content: ']';
}

.notfound .errorcode {
	color: white;
}

.kep-login-facebook-custom.small,
.kep-login-google-custom.small {
	padding: calc(0.34435vw + 3.38843px) calc(0.34435vw + 8.38843px);
}

.kep-login-facebook-custom .fa,
.kep-login-google-custom .fa {
	margin-right: calc(0.34435vw + 3.38843px);
}

.kep-login-facebook-custom {
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: calc(0.27548vw + 12.71074px);
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: #4c69ba;
	border: calc(0.06887vw + 0.67769px) solid #4c69ba;
	padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px);
}

.kep-login-google-custom {
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	color: rgb(126, 126, 126);
	cursor: pointer;
	display: inline-block;
	font-size: calc(0.27548vw + 12.71074px);
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: #ffffff;
	border: calc(0.06887vw + 0.67769px) solid #d3d3d3;
	padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px);
}
