body {
	background: #eef0f1;
	padding-top: 72px;
}

.mod-options {
	padding: 5px 5px 5px 5px;
	/* background: rgb(209 207 207); */
}

.mod-options i.fa-trash-o {
	cursor: pointer;
	color: red;
}

.mod-options i.fa-trash-o:hover {
	color: rgb(185, 3, 3);
}

.carousel-item img {
	max-height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.card-text {
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}
.sticky-top {
	top: 72px;
}
.badge {
	border: 1px solid rgba(230, 230, 230, 1);
	font-weight: 400;
}

.bg-custom {
	background-color: rgba(0, 0, 0, 0.9);
}

.user-post .user {
	line-height: 1.3;
}

.user-post .time {
	line-height: 1.3;
}

.bottomright {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
}

.card {
	border: none;
	box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.list-group-item-custom {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nav-tabs .nav-link.active {
	background-color: #f8f9fa !important;
}

.nav-tabs-custom {
	border-bottom: 0;
}

/* 404 Page */
#notfound {
	position: relative;
	height: 100vh;
	background-color: #222;
}
#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.notfound {
	max-width: 460px;
	width: 100%;
	text-align: center;
	line-height: 1.4;
}
.notfound .notfound-404 {
	/* height: 158px; */
	line-height: 153px;
}
.notfound .notfound-404 h1 {
	font-family: josefin sans, sans-serif;
	color: #222;
	font-size: 220px;
	letter-spacing: 10px;
	margin: 0;
	font-weight: 700;
	text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
}
.notfound .notfound-404 h1 > span {
	text-shadow: 2px 2px 0 #ffab00, -2px -2px 0 #ffab00, 0 0 8px #ff8700;
}
.notfound p {
	font-family: josefin sans, sans-serif;
	color: #c9c9c9;
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 15px;
}
.notfound a {
	font-family: josefin sans, sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: 0 0;
	color: #c9c9c9;
	border: 2px solid #c9c9c9;
	display: inline-block;
	padding: 10px 25px;
	font-weight: 700;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.notfound a:hover {
	color: #ffab00;
	border-color: #ffab00;
}
@media only screen and (max-width: 480px) {
	.notfound .notfound-404 {
		height: 122px;
		line-height: 122px;
	}
	.notfound .notfound-404 h1 {
		font-size: 122px;
	}
}
