::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

body {
	background: #eef0f1;
	padding-top: 72px;
}

.mod-options {
	padding: 5px 5px 5px 5px;
	/* background: rgb(209 207 207); */
}

.mod-options i.fa-trash-o {
	cursor: pointer;
	color: red;
}

.mod-options i.fa-trash-o:hover {
	color: rgb(185, 3, 3);
}

.carousel-item img {
	max-height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.card-text {
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}
.sticky-top {
	top: 72px;
}
.badge {
	border: 1px solid rgba(230, 230, 230, 1);
	font-weight: 400;
}

.bg-custom {
	background-color: rgba(0, 0, 0, 0.9);
}

.user-post .user {
	line-height: 1.3;
}

.user-post .time {
	line-height: 1.3;
}

.bottomright {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
}

/* .card {
	border: none;
	box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
} */

.list-group-item-custom,
.list-group-item-custom-empty {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.list-group-item-custom a {
	color: #202428;
	width: 100%;
}

.list-group-item-custom:hover {
	background: rgba(8, 9, 10, 0.05) !important;
	border-radius: 0.3rem;
}

.list-group-item-custom:hover a {
	color: #323ebe !important;
}

.nav-tabs .nav-link.active {
	background-color: #f8f9fa !important;
}

.nav-tabs-custom {
	border-bottom: 0;
}

/* 404 Page */

.notfound {
	min-height: 100vh;
	margin-top: -72px;
}

.notfound .display-404 {
	font-size: 16rem;
	font-weight: 1000;
}

@media (max-width: 576px) {
	.notfound .display-404 {
		font-size: 8rem;
		font-weight: 900;
	}
}

/* Social button */

.facebook-login-button {
	border: 0px;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 19px;
	margin: 5px;
	width: calc(100% - 10px);
	overflow: hidden;
	padding: 0px 10px;
	user-select: none;
	height: 50px;
	background: rgb(59, 89, 152);
}
.facebook-login-button:hover,
.facebook-login-button:focus {
	background: rgb(41, 62, 105) !important;
}

.google-login-button {
	border: 0px;
	border-radius: 3px;
	box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
	color: black;
	cursor: pointer;
	font-size: 19px;
	margin: 5px;
	width: calc(100% - 10px);
	overflow: hidden;
	padding: 0px 10px;
	user-select: none;
	height: 50px;
	background: white;
}
.google-login-button:hover,
.google-login-button:focus {
	background: rgb(239, 240, 238) !important;
}

.github-login-button {
	border: 0px;
	border-radius: 3px;
	box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 19px;
	margin: 5px;
	width: calc(100% - 10px);
	overflow: hidden;
	padding: 0px 10px;
	user-select: none;
	height: 50px;
	background: rgb(51, 51, 51);
}
.github-login-button:hover,
.github-login-button:focus {
	background: rgb(85, 85, 85) !important;
}

.facebook-login-button .body-social,
.google-login-button .body-social,
.github-login-button .body-social {
	align-items: center;
	display: flex;
	height: 100%;
}
.facebook-login-button .body-social .icon-social,
.google-login-button .body-social .icon-social,
.github-login-button .body-social .icon-social {
	display: flex;
	justify-content: center;
	min-width: 26px;
}

.facebook-login-button .body-social .text-social,
.google-login-button .body-social .text-social,
.github-login-button .body-social .text-social {
	text-align: left;
	width: 100%;
	margin-left: 0.5rem;
}

/* Dropdown */
.dropdown-menu {
	padding: 0;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #323ebe;
	text-decoration: none;
	background-color: rgba(8, 9, 10, 0.05);
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #323ebe;
	background-color: rgba(8, 9, 10, 0.05);
}

.dropdown-divider {
	margin: 0;
}

/*  */

@media (max-width: 576px) {
	.media {
		align-items: initial;
		flex-direction: column;
	}
}

a.disabled {
	pointer-events: none;
	opacity: 0.65;
}

/*  */
.single-post .cover-img {
	width: 100%;
	max-height: 420px;
}

.comment-post .media .media-body a {
	color: #202428;
}

.comment-post .media .media-body a:hover {
	color: #4d5760;
}

/*  */

@media (min-width: 768px) {
	.card-post .body-card-post {
		padding-left: calc(2rem + 0.25rem);
	}
}

.card-post .user-meta {
	line-height: 1.25rem;
}

.card-post .tags .custom-tag,
.custom-tag {
	color: #64707d;
	display: inline-block;
}

.card-post .tags .custom-tag span,
.custom-tag span {
	opacity: 0.4;
}
.card-post .tags .custom-tag:hover,
.custom-tag:hover {
	color: #08090a !important;
}

.card-post .tags {
	margin-left: calc(0.25rem * -1);
}

.card-post .user-meta .img-avatar {
	width: 2rem;
	height: 2rem;
}

.card-comment .img-avatar {
	width: 2.8rem;
	height: 2.8rem;
}

.card-post .card-title a {
	color: rgba(41, 41, 41, 1);
	font-weight: 800;
}

.card-post .card-title a:hover {
	color: #323ebe;
}

.card-post:focus-within {
	box-shadow: 0px 0px 1px 3px #3b49df;
	border-radius: 0.25rem;
}

/* loading spinner */

.title-loading,
.excerpt-loading,
.card-loading-post .tags-list-loading,
.avt-loading,
.card-loading-post .user-loading,
.list-group-item-custom-loading {
	border-radius: 5px;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1) 10%,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(255, 255, 255, 0.1) 40%
	);
	box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.025);
	background-size: 800px 104px;
	position: relative;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

@media (min-width: 768px) {
	.card-loading-post .body-loading {
		padding-left: calc(2rem + 0.25rem);
	}
}

.card-loading-post .tags-list-loading {
	height: 0%;
}

.list-group-item-custom-loading {
	position: relative;
	display: block;
}

.card-loading-post .user-loading {
	height: 0%;
}

.height-list-group {
	height: 320px;
}
