@media (min-width: 768px) {
	.comment_card {
		.body_comment_card {
			padding-left: calc(33px + 0.25rem);
		}
	}
}

.comment_card {
	.body_comment_card {
		.tags {
			margin-left: calc(0.25rem * -1);
		}
		.title_comment_card:hover {
			color: #323ebe !important;
		}
	}
	&:focus-within {
		box-shadow: 0px 0px 1px 3px #3b49df !important;
		border-radius: 0.25rem;
	}
}
